[submodule "groovy-sandbox"]
	path = groovy-sandbox
	url = https://github.com/iplviv/groovy-sandbox
[submodule "testing"]
	path = testing
	url = https://github.com/iplviv/testing_repo.git
[submodule "docs3"]
	path = docs3
	url = ssh://git@github.com/solanolabs/docs
