[submodule "groovy-sandbox"]
	path = groovy-sandbox
	url = https://github.com/iplviv/groovy-sandbox
[submodule "testing"]
	path = testing
	url = https://github.com/iplviv/testing_repo.git
[submodule "docs2"]
	path = docs2
	url = https://github.com/solanolabs/docs
