[submodule "groovy-sandbox"]
	path = groovy-sandbox
	url = https://github.com/iplviv/groovy-sandbox
[submodule "groovy_multiproject"]
	path = groovy_multiproject
	url = https://github.com/iplviv/groovy-sandbox
